
.hipstr,.nav .nav-tabs,.nav-tabs li,#longImg,#longBlueRow,#longBlueRowBottom,#success-alert,.width120-center{
    display:none;
    heigth:0;
}
#titleprint{
    display:block;
    background-image:url('../img/titlepint.jpg');
    width:100%;
    height:100px;
}

.col-md-4 {
   /* width:40%;*/
    float:left;
}
.col-md-6 {
   /* width:40%;*/
    float:left;
}
.width120{
   width: 194px;
    text-align: center;
}
.border-right {

    border-right:none;
}
/*.border-bottom {

    border-bottom:1px solid #b6b6bb;
}*/
.border-right-left {

    border-right:none;
    border-left:none;
}
.border-left {

    border-right:none;
}


.border-top {
    border-top:1px solid #b6b6bb;
}

.hideItForPrint{
    display:none;
}
.showItForPrint{
    display:block;
    width:100%;

}
div>img[src="/img/clear.png"]{
    display:none;
}
input[type="checkbox"]{
    display:none;
}

.heigth100{
    padding:10px;
    height:150px;
}

.bggraycol {
    border-bottom:none;
}

.col-md-6>.ulnotbulleted {
    width:320px;
}
.fontblue{
    color:darkblue;
    margin-top:10px;
}
.fontblue,
.fontgreen {
    text-align: left;
}

.col-md-6 .bggraycol-nobottom>.ulnotbulleted {
    width:310px !important;
}

.col-md-2 .bggraycol-nobottom>.ulnotbulleted {
    margin-left: 20px;
}
/*limitrof block*/
.bcgray {
    border-bottom:none;
}
#staticPrice,#staticPrice1,#staticPrice2,#staticPriceBrandPromo{
    width:100%;
    height:320px !important;
    margin-top:80px;
    padding:5px;
    background-color:white;
    top:0 !important;
}
#staticPrice .row {
    width: 750px !important;
}
#staticPrice .row .col-md-8,#staticPrice .row .col-md-3,#staticPrice .row .col-md-1,#staticPrice .row .col-md-9,#staticPrice .row .col-md-3{

    float:left !important;
    /*width:100px;*/
}
#onebyone .row {
    /*width: 100% !important;
    border-bottom: 1px solid gray;*/
}
#onebyone .row .col-md-5{
    float:left !important;
    width:400px;
}
#onebyone .row .col-md-4 select,#onebyone .row .col-md-4 input,#onebyone .row .col-md-4 select option {
    border:none !important;
    widht:200px !important;
}
#onebyone .row .col-md-4{
   float:left !important;
    width:200px !important;
}
#onebyone .row .col-md-3{
    float:left !important;
    width:150px;
    /*width:100px;*/
}
