
/* by Serhio */
/*.bggraycoltop {
	background-color:#e8e9ee;
	color:#8d90a3;
	height:inherit;
	!*border-bottom:1px solid #b6b6bb;*!
}*/
#success-alert{
display: none;
width:1280px;
margin:0 auto;
}
.fontblue{
color: #029de0;
margin-top:100px;
font-weight: bolder;
}
.fontgreen{
color: #47be71;
font-weight: bolder;
}
.size24{
font-size:24px;
font-weight: bolder;
}
.bggraycol {
background-color:#e8e9ee;
color:#8d90a3;
height:inherit;
border-bottom:1px solid #b6b6bb;
padding:10px;
float: left;
}
.bggraycol img{
margin-top:10px;
}
.bggraycol ul{
/* margin-left:10px; */
margin-left:30px; /* 20161206 ardjuna */
color:black;
}

.col-md-6>.ulnotbulleted {
/* margin-left:10px; */
margin-left:20px !important; /* 20161206 ardjuna */
color:black;
}
.bggraycol-nobottom {
background-color:#e8e9ee;
color:#8d90a3;
height:inherit;
padding:10px;
border-bottom:1px solid #e8e9ee;
float: left;
}
.bggraycol-nobottom img{
margin-top:5px;
}
.bggraycol-nobottom ul{
/* margin-left:5px; */
margin-left:25px; /* 20161206 ardjuna */
color:black;
}

.bcwhite{
background-color:white;
}
.margintop10{
margin-top:30px !important;
}
.border-right {

border-right:1px solid #b6b6bb;
}
.border-bottom {

border-bottom:1px solid #b6b6bb;
}
.border-right-left {

border-right:1px solid #b6b6bb;
border-left:1px solid #b6b6bb;
}
.border-left {

border-right:1px solid #b6b6bb;
}

.border-top {
border-top:1px solid #b6b6bb;
}

.imgpadding {
/*padding:5px 0 0 50px;*/
}
/* by Serhio */

.inheritcenterimg{
margin:0 auto;
display: block;
}
.height40{
padding: 0 10px 10px 0;
height:40px;

}
.height90{
padding:10px;
height:90px;
}
.height100{
padding:0 10px 10px 0;
height:100px;
}
.height560{
height:560px;
}
.tiny-text{
font-size: smaller;
padding: 10px 5px !important;
}

.grayinrow{
background-color: #e8e9ee;
/*padding-bottom:10px;*/
}

#titleprint{
display:none;
background-image:url('../img/titlepint.jpg');
width:100%;
height:300px;
}

.main-label-text{
height:100%;
/*	border:1px solid black;*/
display:block;
}
.display-linebreak {
white-space: pre-line;
}
.topm10{
height: inherit;
margin-top: -10px;
}
*,*:after,*:before {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding: 0;
margin: 0;
}
.mtopmin17{
/*margin-top:-17px;*/
vertical-align: middle;
height:100%;
}
.labelpos{
margin-left: -10px;
margin-top: -7px;
}
.heigth80p{
height:80%;
position:relative;
}
.switch {
margin: 2px auto;
position: relative;
}

.switch label {
width: 100%;
height: 100%;
position: relative;
display: block;
}

.switch input {
top: 0;
right: 0;
bottom: 0;
left: 0;
opacity: 0;
z-index: 100;
position: absolute;
width: 100%;
height: 100%;
cursor: pointer;
}

/* DEMO 3 */

.switch.demo3 {
width: 60px;
height: 30px;
}

.switch.demo3 label {
display: block;
width: 100%;
height: 100%;
background: #a5a39d;
border-radius: 40px;
box-shadow:
inset 0 3px 8px 1px rgba(0,0,0,0.2),
0 1px 0 rgba(255,255,255,0.5);
}

.switch.demo3 label:after {
content: "";
position: absolute;
z-index: -1;
top: -8px; right: -8px; bottom: -8px; left: -8px;
border-radius: inherit;
background: #ababab;
background: -moz-linear-gradient(#f2f2f2, #ababab);
background: -ms-linear-gradient(#f2f2f2, #ababab);
background: -o-linear-gradient(#f2f2f2, #ababab);
background: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#ababab));
background: -webkit-linear-gradient(#f2f2f2, #ababab);
background: linear-gradient(#f2f2f2, #ababab);
box-shadow: 0 0 10px rgba(0,0,0,0.3),
0 1px 1px rgba(0,0,0,0.25);
}

.switch.demo3 label:before {
content: "";
position: absolute;
z-index: -1;
top: -18px; right: -18px; bottom: -18px; left: -18px;
border-radius: inherit;
background: #eee;
background: -moz-linear-gradient(#e5e7e6, #eee);
background: -ms-linear-gradient(#e5e7e6, #eee);
background: -o-linear-gradient(#e5e7e6, #eee);
background: -webkit-gradient(linear, 0 0, 0 100%, from(#e5e7e6), to(#eee));
background: -webkit-linear-gradient(#e5e7e6, #eee);
background: linear-gradient(#e5e7e6, #eee);
box-shadow:
0 1px 0 rgba(255,255,255,0.5);
-webkit-filter: blur(1px);
-moz-filter: blur(1px);
-ms-filter: blur(1px);
-o-filter: blur(1px);
filter: blur(1px);
}

.switch.demo3 label i {
display: block;
height: 100%;
width: 60%;
border-radius: inherit;
background: silver;
position: absolute;
z-index: 2;
right: 40%;
top: 0;
background: #b2ac9e;
background: -moz-linear-gradient(#f7f2f6, #b2ac9e);
background: -ms-linear-gradient(#f7f2f6, #b2ac9e);
background: -o-linear-gradient(#f7f2f6, #b2ac9e);
background: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f2f6), to(#b2ac9e));
background: -webkit-linear-gradient(#f7f2f6, #b2ac9e);
background: linear-gradient(#f7f2f6, #b2ac9e);
box-shadow:
inset 0 1px 0 white,
0 0 8px rgba(0,0,0,0.3),
0 5px 5px rgba(0,0,0,0.2);
}

.switch.demo3 label i:after {
content: "";
position: absolute;
left: 15%;
top: 25%;
width: 70%;
height: 50%;
background: #d2cbc3;
background: -moz-linear-gradient(#cbc7bc, #d2cbc3);
background: -ms-linear-gradient(#cbc7bc, #d2cbc3);
background: -o-linear-gradient(#cbc7bc, #d2cbc3);
background: -webkit-gradient(linear, 0 0, 0 100%, from(#cbc7bc), to(#d2cbc3));
background: -webkit-linear-gradient(#cbc7bc, #d2cbc3);
background: linear-gradient(#cbc7bc, #d2cbc3);
border-radius: inherit;
}

.switch.demo3 label i:before {
content: "";/*нет*/
text-transform: uppercase;
font-style: normal;
font-weight: bold;
color: rgba(0,0,0,0.4);
text-shadow: 0 1px 0 #bcb8ae, 0 -1px 0 #97958e;
font-family: Helvetica, Arial, sans-serif;
font-size: 10px;
position: absolute;
top: 60%;
margin-top: -12px;
right: -50%;
}

.switch.demo3 input:checked ~ label {
background: #9abb82;
}

.switch.demo3 input:checked ~ label i {
right: -1%;
}

.switch.demo3 input:checked ~ label i:before {
content: "";/*да*/
right: 115%;
color: #82a06a;
text-shadow:
0 1px 0 #afcb9b,
0 -1px 0 #6b8659;
}


/*\\\\\\\\\\\\\\\\\\\\\\\checkbox END *\




/* main container*/
.tabbablefirst{
padding:0 60px;
width:1280px;
margin:0 auto;
background-color: #f0f4f7;
}
/* checkbox bigger */
input[type=checkbox]
{
/* Double-sized Checkboxes */
-ms-transform: scale(2); /* IE */
-moz-transform: scale(2); /* FF */
-webkit-transform: scale(2); /* Safari and Chrome */
-o-transform: scale(2); /* Opera */
padding: 10px;
}

/* create buttons on tabs*/
/* .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover { */
#secondlevel>.nav-tabs>li.active>a, #secondlevel>.nav-tabs>li.active>a:focus, #secondlevel>.nav-tabs>li.active>a:hover {
background-color: #033860;
cursor: default;
color: white;
}
.second-level .nav-tabs>li>a, .second-level .nav-tabs>li>a:focus, .second-level .nav-tabs>li>a:hover {
/*  color: #555; */
color:gray;
background-color: #fff;
border: 1px solid #ddd;
/*     border-bottom-color: transparent; */
}
#firstlevel .nav-tabs >li>a {
margin-right: 32px;
margin-left: -32px;
margin-top: 10px;
line-height: 1.42857143;
border: 1px solid transparent;
/*   border-radius: 4px 4px 0 0; */
border-radius: 4px;
background: white;
color: grey;
font-weight: bolder;
width: 220px;
text-align: center;
}
#firstlevel .nav-tabs >li.active>a {
	margin-right: 32px;
	margin-top: 10px;
	line-height: 1.42857143;
	border: 1px solid transparent;
	/*   border-radius: 4px 4px 0 0; */
	border-radius: 4px;
	background: white;
	color: grey;
	font-weight: bolder;
	width: 220px;
	text-align: center;
	background-color: #d0d3d8;
	font-weight: bolder;
}


#secondlevel>.nav-tabs>li>a {
margin-top: 30px !important;
/*margin-left: 18px;*/
font-size: 0.8em;
height: 47px;
width: 150px;
background: white;
color: grey;
	border-radius: 5px;
}
#secondlevel {
width: auto;
}

#marginleft20{
	margin-left:-60px;
	background-color: #dfe2e5;
	width: 1280px;
	height: 110px;
}

#secondlevel>.nav-tabs>li{
	margin-right: -20px;
}
@media (max-width: 992px) and (min-width:745px) {
	#marginleft20 {
		height: auto;
	}
}

.nav-tabs>li>a[href="#tab100"] {
margin-left: 12px !important;
}


@media(min-width:730px) and (max-width:991px){
	#secondlevel>.nav-tabs>li>a {
		font-size: 2em !important;
		width: auto !important;
		height: 3.5em;
		margin-left: 0 !important;
	}
	.nav-tabs>li>a[href="#tab100"] {
		margin-left: 0 !important;
	}
	#secondlevel > .nav-tabs > li {
		margin-left: 0 !important;
	}

	#secondlevel >.nav-tabs>li>a[href="#tab100"]>div>div,
	#secondlevel >.nav-tabs>li>a[href="#tab250"]>div>div,
	#secondlevel >.nav-tabs>li>a[href="#tab300"]>div>div {
		top: 25px !important;
		left: 43% !important;
	}

	#secondlevel >.nav-tabs>li>a[href="#tab200"]>div>div,
	#secondlevel >.nav-tabs>li>a[href="#tab400"]>div>div{
		left: 45% !important;
		white-space: nowrap !important;
	}
	#secondlevel >.nav-tabs>li>a[href="#tab500"]>div>div{
		left: 40% !important;
		text-align: auto !important;
	}
	#secondlevel >.nav-tabs>li>a[href="#tab600"]>div>div {
		top: 25px !important;
		left: 47% !important;
	}
	.hidden-md-down {
		display: none;
	}
	.hidden-xs-down {
		display: none;
	}
}


.nav-tabs {
/* border-bottom: 1px solid #ddd; */
border-bottom:none;
}
.second-level {
height:114px;
margin-left: -30px;
padding-top: 30px;
background-color:#dfe2e5;
}
.third-level{
margin-top:30px;
margin-left:-32px;
}
.second-level .nav-tabs>li {
width:20%;
height:80px;
}
.tabbablefirst>.nav{
	margin-left: -32px;
}
#app-root2{
	margin-bottom:10px;
}
#app-root select{
	height: 50px;
	margin-top: -15px;
    width: 90%;
	padding-left: 10px;
}
#reactroot{
margin-left:-30px;
}
#logoImg{
margin:20px 0 0 60px;
display:block;
float: left;
}
#staticPrice,#staticPrice1,#staticPrice2,#staticPriceBrandPromo{
	width:100%;
	height:100% !important;
	margin-top:80px;
	/*position:absolute;
	border:1px solid gray;
	 position:fixed;
	border-radius:20px;
	right:40px;
	 */

	padding:5px 25px 5px 10px;
	background-color:white;
}
 #staticPrice2  {
 margin-top: 0 !important;
}
 #staticPriceBrandPromo {
     margin-top: 30px !important;
	 padding-right: 25px;
}

#staticPrice .col-md{
	top:80px;
}
#staticPrice  {
	margin-top: 30px !important;
}
.bcwhite{
	background-color:white;
}
.bcgray{
	background-color:#e8e9ee;
	color:#8d90a3;
	height:70px;
    padding-top: 25px;	border-bottom:1px solid #b6b6bb;
}
.price_sell{
	background-color:#448bd9;
	color:white;
	width:120px;
	margin-top: -15px;
	height:50px;
	border-radius:7px;
	font-size:18px;
	font-weight:bold;
	text-align: center;
	padding-top:13px;
}
.itogo_sell {
	margin-top:10px;
	background-color:#47be71;
	color:white;
	width:100px;
	height:30px !important;
	border-radius:4px;
	font-size:16px;
	font-weight:bold;
	text-align: center;
	padding-top:5px;
	margin-left: 15px;
	margin-top: 22px;
}
.itogo {
	text-align: right;
	padding-top: 29px;
	padding-left: 0;
	font-size: 13px;
	color: #8d90a3;
	font-weight: bolder;
	white-space: nowrap;
}
label{
display:flex;
}
.checkboxforprice{
display:block;
margin-right:20px !important;
margin-bottom: 20px;
float:left;
}
.hiddencheckbox{
display:none;
}
.width20{
width: 20px;
text-align: center;
}
.width70{
width: 70px;
text-align: center;
}
.width120{
width: 194px;
text-align: center;
}
.width120-center{
width: 120px;
text-align: center;
	margin: 0 auto;
}
.blueColor_h80_pt5{
color:#029de0;
height:80px;
padding-top: 5px;
}
.blueColor_pt5{
	color:#029de0;
	height:80px;
	padding-top: 5px;
}
.margintop80{
margin-top:80px;
}
.margintop10{
	margin-top:10px;
}
#longBlueRow{
background-color:#033860;
height:65px;
width:1280px;
margin:0 auto;
}
#longBlueRowBottom{
background-color:#033860;
height:210px;
width:1280px;
margin:0 auto;
}
#longImg{
background-image:url('../img/calc.png');
	background-color: #f0f4f7;
width:1280px;
height:431px;
margin:0 auto;
}
#link1{
    float: left;
    margin: 20px 0 0 140px;
    font-size: 18px;
}
#link1 a,#linkBottom a{
    color: white;
}
#linkBottom{
    float: left;
    margin: 140px 0 0 140px;
    font-size: 18px;
}
#link1 a{
    color: white;
}
.textalignright{
text-indent:50px;
font-weight:bold;
}
.colorblue{
color:#448bd8;
}
.mleft100{
margin-left:70px;
margin-right:-100px;
}
.floatLeft{
float:left;
}

/* ul-list without marker in Brand Promotion 20161206 ardjuna */
.ulnotbulleted {
	list-style-type:none;
	line-height: 22px;
}

/* blu color ul-marker in Brand Promotion 20161206 ardjuna */
.col-md-6>.ulnotbulleted > li:before {
	 content: "•";
	 padding-right: 10px;
     color:#448bd8;
	 }
/*  padding-left "с банером на главной" in Brand Promotion 20161206 ardjuna */	 
.ulnotbulleted>li>p {
	padding-left: 15px;
}


/*dependent check in Sales Push Compaignes 20161209 ardjuna*/
#brending_goods,
#logistic,
#delivery2 {
	margin-left: 40px;
	width: 10px;
}


/*fourth row height in Marketing 20161212 ardjuna */
#app-root2 #pos4 > .row > .col-md-6,
#app-root2 #pos4 > .row > .col-md-3,
#app-root2 #pos4 > .row > .col-md-3{
	height: 150px;
}

/*checkbox in fourth row in Marketing 20161212 ardjuna */
#app-root2 #pos4> .row > .col-md-6 input[type=checkbox] {
	margin-top: 30px;
}

#app-staff #pos9> .row > .col-md-3 .price_sell {
	font-size:14px;
}
#app-advert #pos2> .row > .col-md-3 .price_sell {
	font-size:14px;
}

/*design revision in Sales Push Compaignes 20161213 ardjuna*/
/*.third-level>li>a {
	margin: 9px 0 40px 0;
}
.third-level>li.active>a {
	width: 202px;
}*/

/*design revision in Sales Push Compaignes 20161213 ardjuna*/

/*design revision 20161213 ardjuna*/
#staticPrice> .row> .col-md-9,
#staticPrice> .row> .col-md-3,
#staticPrice> .row> .col-md-8,
#staticPrice> .row> .col-md-1,
#staticPriceBrandPromo> .row> .col-md-9,
#staticPriceBrandPromo> .row> .col-md-8,
#staticPriceBrandPromo> .row> .col-md-3,
#staticPriceBrandPromo> .row> .col-md-1,
#staticPrice2> .row> .col-md-9,
#staticPrice2> .row> .col-md-3 {
	margin-top: 12px;
 }
/* 20161216 ardjuna*/
.blueColor_h80_pt5>p {
	color: #8f9fae;
	font-size: 16px;
	font-weight: 500;
}

/* 20161216 ardjuna*/
 @media (max-width: 1000px) {
	.row > .col-md-9 > .hidden-print {
		display: none;
	}
}
/* 20161216 ardjuna*/
.button {
	margin-top: 30px;
	width: 187px;
    height: 50px;
	background-color: #029de0;
	color: white;
	font-weight: bold;

} 

/* media nav-tabs 20161216 ardjuna*/
 @media (max-width: 768px) {
	.nav-tabs>li>a{
		text-align: left !important;
	}
}
/* media in Brand Promotion 20161216 ardjuna*/
  @media (max-width: 992px) {
.row>.col-md-3>.fontblue,
.row>.col-md-3>.fontgreen,
.row>.col-md-12>.width120-center {
	text-align: left !important;
        }
}
/* media in Brand Promotion 20161216 ardjuna*/
  @media (max-width: 992px) {
.row>.col-md-12>.width120-center {
   float: left;
   }
}
/* media in Brand Promotion 20161216 ardjuna*/
 @media (max-width: 992px) {
.mediawidth {
	width: 100%;
  }
}
/* media in Brand Promotion 20161216 ardjuna*/
 @media (max-width: 992px) {
	.inheritcenterimg {
		margin: 0;
	}

	.text-center {
		text-align: left;
	}

	.bggraycol-nobottom {
		border-bottom:1px solid #b6b6bb;
	}

	.itogo {
		text-align: left;
	}
	.itogo_sell {
		margin-top: 10px
	
	}
	.button {
		margin-top: 10px;
	}
	#app-brand-promo .row>.col-md-12> img {
		float: left !important;
	}
	
}
/* green color "online" in Brand Promotion 20161219 ardjuna*/
.greencol {
	color: #47be71;
	font-weight: bolder;
}
/* blue color "offline" in Brand Promotion 20161219 ardjuna*/
.bluecol {
	color: #029de0;
	font-weight: bolder;
	margin-top: 10px;
}
.grayColor {
	color: #8f9fae;
}
/*table header in PR 20161219 ardjuna*/
#true {
	margin-bottom: 4px;
	font-weight: bold;
}
/*sticker in Brand PromotionPR 20161221 ardjuna*/
#app-brand-promo .row>.col-md-12> img {
	float:right;
	display:block;
	width:75px;
}
/*sticker in Brand Promotion 20161221 ardjuna*/
#app-brand-promo .row>.col-md-12> h4 {
	margin-bottom: 10px;
	margin-top: 10px;
	font-weight: bold;
}
/*button in Brand Promotion 20161222 ardjuna*/
.row>.col-md-12>.width120-center>.checkboxforprice {
	margin-left: -33px;
}
/*img in Brand Promotion 20161222 ardjuna*/
img[src="img/autokomp.png"] {
	width: 130px;
	height: 30px;
}
/*img in Brand Promotion 20161222 ardjuna*/
img[src="img/abs.png"],
img[src="img/autodoc.png"] {
	margin-top: 0;
}
/*in Sales Push 20161222 ardjuna*/
label[for="logistic"],
label[for="delivery2"]{
	padding-top: 10px;
}
/*in Sales Push 20161222 ardjuna*/
#app-root .row>.col-md-3.itogo_sell {
	margin-bottom: 25px;
}
#bottomitogo {
	margin-left: 8px;
}

#app-brand-promo .row>.col-md-2.imgleft {
	padding-left: 0 !important;
}

#app-brand-promo .row>.col-md-2.margintop10 {
	margin-top: 10px !important;
}
